@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0D0D0D;
  color: var(--foreground);
  font-family: var(--font-geist), sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

#button{
  color: black;
  background-color: #CAE8BD;
  border-radius: 16px;
}

#button-2{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255, 0.08);
  border-radius: 16px;
}

html.lenis,
html.lenis body{
  height: auto;
}

.lenis.lenis-smooth{
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent]{
  overscroll-behavior: contain;
}

.lenis.lenis-smooth{
  overflow: hidden;
}

.lenis.lenis-smooth iframe{
  pointer-events: none;
}

.image-hover img {
  transition: filter 0.3s ease;
}

.mantine-Accordion-item[data-active="true"] .chevron-icon {
  transform: rotate(180deg);
}
